<a class="button" ng-tap="$navigate.back()">Back</a>

<div class="navbar navbar-inverse navbar-fixed-top" ng-show="showNavbar" ng-controller="HomeController">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			<a class="brand" href="/">Claudia</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="active"><a href="/">Home</a></li>
					<li class=""><a href="#/inAppBrowser.html">In App Browser</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>